@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-left {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes slide-right {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}

.slider-left {
  animation: slide-left linear infinite;
  animation-duration: var(--animation-duration);
}

.slider-right {
  animation: slide-right linear infinite;
  animation-duration: var(--animation-duration);
}

